*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecera1{
    background-color: #229954;
  padding: 10px;
  display: flex;
    justify-content: center;
}
.nav1 div{
   
    color: white;
    padding: 10px;
    width: 800px;
    border-radius: 8px;
    
}
.fa-brands{
    font-size: 45px;
    
}
.topbar{
   align-items: center;
    list-style-type: none;
    display: flex;
    gap: 10px;
    
}
#contenido{

    padding: 10px;
    display: flex;
    justify-content: center;
}
.contenido1{
    background-color: #229954;
    padding: 10px;
    border-radius: 8px;
}
.aviso{
        position: absolute;
        top: 580px;
        width: 800px;
        height: 100px;
        background-color: #F4D03F;
        opacity: 80%;
       
 p{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color:#0e6231;
    text-shadow: 2px 2px #c3dfca;
    padding: 15px;
    
 }      
          
        
}
#cabecera2{
    padding: 10px;
    justify-content: center;
}
.nav2{
    display: flex;
    gap: 20px;
 
    justify-content: center;
}
.nav2-bar{
    color: #0e6231;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    width: 260px;
    height: 40px;
    background-color: #F4D03F;
    border-radius: 8px;
   
}


.contenido{
    margin: 5px auto;
    width: 800px;
    
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,100px);
}
.contenido-1{
    height: 500px;
    background-color: #F4D03F;
    grid-column: 1/2;
    grid-row: 1/4;
   
}
.contenido-2{
    margin: 10px;
       
    grid-column: 1/2;
    grid-row: 1/1;
}
.contenido-3{
    margin: 10px;
    background-color: rgb(233, 241, 242);
    border-radius: 20px;
    grid-column: 1/2;
    grid-row: 2/6;
}
.contenido .extra{
   
    text-align: center;
   align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,130px);
}
.contenido .extra .extra1{
    color: #0e6231;
   font-size: 25px;
   font-weight: bold;
   text-decoration: underline;
   
    grid-column: 1/4;
   grid-template-rows: 1/2;
}
.contenido .extra .extra2{
   text-align: right;
    color: #0e6231;
    font-size: 25px;
    font-weight: bold;
    grid-column: 1/3;
    grid-template-rows: 3/4;
 }
 .contenido .extra .extra3{

    padding: 20px;
    text-align: center;
     color: #0e6231;
     font-size: 50px;
     font-weight: bold;
     grid-column: 3/4;
     grid-template-rows: 3/4;
  }
.contenido-4{
    object-fit: cover;
    margin: 10px;
    background-color: rgb(45, 134, 13);
    grid-column: 2/3;
    grid-row: 1/3;
}
.contenido-5{
    margin: 10px;
    background-color: rgb(249, 249, 250);
    grid-column: 2/3;
    grid-row: 3/6;
}
footer{
    width: 100%;
    height:50px;
    background-color: #229954;
}
.pie{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
}
.img1, img2{
    object-fit: cover;
}
a{
    color: #0e6231;
    text-decoration: none;

}
a:hover{
    color: white;
}
.nav2-bar:hover{
    background-color: #229954;
    
}
